* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 25px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  margin-top: 2rem;
  margin: auto;
}

.wrapper {
  background: black;
  border-radius: 58px;
  color: white;
  position: relative;
  height: 90vh;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.screen {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 50px;
  height: 158px;
  position: relative;
}

.screen-value {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.btn-zeros {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: span 2; /* Span 2 columns */
  border-radius: 55px;
  padding: 20px; /* Adjust padding as needed */
  font-size: 1.5em; /* Adjust font size as needed */
  height: 80px; /* Set desired height */
  width: 160px; /* Set desired width */
  color: white;
  background: #3333335e; /* Adjust background color to match iPhone style */
  cursor: pointer;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.btn {
  background: #3333335e;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 40px;
  align-items: center;
  cursor: pointer;
}

.btn-function {
  background: #a5a5a5;
  color: black;
  cursor: pointer;
  font-weight: lighter;
}

.btn-operator {
  cursor: pointer;
  background: #f38a00;
  color: white;
  border: none;
  border-radius: 50%;
  align-items: center;
  font-size: 40px;
}

.btn:active,
.btn:focus,
.btn:hover,
.btn-zeros:active,
.btn-zeros:focus,
.btn-zeros:hover,
.btn-sign:active,
.btn-sign:focus,
.btn-sign:hover {
  filter: brightness(150%);
  transition: filter 0.2s; /* Apply transition to the filter property */
}

.btn-operator:active,
.btn-operator:focus,
.btn-operator:hover {
  filter: brightness(115%);
  transition: filter 0.2s; /* Apply transition to the filter property */
}

.bottom-line {
  border-radius: 4px;
  background: white;
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: 25px;
  left: 85px;
}
